echo "----------------------------------------------"
echo "****************** ALIASES  ******************"
echo "----------------------------------------------"

echo "server: start a simple http server"
alias server="python -m SimpleHTTPServer $1"

echo "subl: open sublime text"
alias subl="open -a /Applications/Sublime\ Text.app"

echo "d: Navigate to desktop"
alias d="cd ~/Desktop/"

echo "b: open browser"
alias b="open http://www.google.co.uk"

echo "..: move up a directory"
alias ..="cd ../"

echo "c: clear terminal"
alias c="clear"

echo "yt-rip: Rip a song from youtube to MP3"
alias yt-rip=~/.rip

echo "mountvm: Mount the local VM for work"
alias mountvm="~/.mountvm"

echo "unmountvm: Unmount the local VM for work"
alias unmountvm="~/.unmountvm"

echo "----------------------------------------------"
echo "----------------------------------------------"